.group-content {
  padding: 80px 60px;
  background-color: #F5F5F5;
  min-height: 100%;
}

.name-section{
  font-size: x-large;
  color: #2E5C6E;
}

.img-avatar{
  width: 100%;
  margin: 0 auto 0 auto;
}

hr{
  margin: 10px 0;
}

#comment{
  width: 100%;
  height: 100%;
  z-index: -1;
  border: none;
  resize: none;
  outline: none;
}
