<div *ngIf="group" class="row" style="margin-top: 15px;">

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <label for="group-name">Group Name</label>
        <input class="form-control" id="group-name" name="group-name"
               [(ngModel)]="group.name" type="text">
      </div>
      <div class="col-md-4">
        <label for="zip-code">Zip Code<fa *ngIf="loading" class="text-success" animation="spin" name="refresh"></fa></label>
        <input class="form-control" id="zip-code" name="zip-code"
               (change)="onAddressChange()"
               [(ngModel)]="group.zipCode" type="text">
      </div>
    </div>

    <label for="password">
      Group Password
      <i class="text-muted">&nbsp;&nbsp;*leave it empty to make it public open</i>
    </label>
    <input class="form-control" id="password" name="group-name"
           [(ngModel)]="group.password" type="text">

    <label for="summary">Summary</label>
    <textarea [(ngModel)]="group.summary" id="summary" class="form-control form-control-sm"></textarea>

    <br>
    <button (click)="updateGroup()"  class="btn btn-sm btn-outline-success">Update</button>
  </div>

  <div class="col-md-4">

    <div class="row">
      <span class="btn-file">
        <img *ngIf="group.url == ''; else elseBlock" class="img-avatar" src="../../../assets/group-default.svg">
        <ng-template #elseBlock>
        <img class="img-avatar" [src]="group.url">
        </ng-template>

        <input #fileInput (change)="avatarChange(fileInput.files)" type="file">
      </span>
    </div>

  </div>

</div>

<br>
<div *ngIf="groupUsers" class="row" style="padding: 0 10px;">
  <table class="table">
    <thead><tr><th>Members</th><th>{{groupUsers.length}}/{{memberMaxNum}}</th></tr></thead>
    <tbody>
    <tr *ngFor="let user of groupUsers">
      <td>{{user.userName}}</td>
      <td><button (click)="deleteGroupUser(user.userId)" class="btn btn-sm btn-outline-danger">REMOVE</button></td>
    </tr>
    </tbody>
  </table>
</div>
