<app-nav-home></app-nav-home>
<div class="header">

  <div class="intro-message container">
    <div class="intro-header">LET'S FIND THE PERFECT RESTAURANT FOR YOU</div>

    <div class="col-lg-8">
      <div class="input-group">
        <span class="input-group-addon bg-white">
          Find
        </span>
        <input
          [(ngModel)]="keyword"
          type="text" class="form-control" placeholder="Restaurants, Bars ..">
        <div class="input-group-btn">
          <button type="button" class="btn btn-light dropdown-toggle bg-white"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Near
          </button>
          <div class="dropdown-menu">
            <div [routerLink]="['/search',keyword,location]"
                 class="dropdown-item btn btn-sm">Current Location</div>
          </div>
        </div>
        <input
          [(ngModel)]="location"
          type="text" class="form-control" placeholder="Location">
        <span class="input-group-btn">
          <button [routerLink]="['/search',keyword,location]"
            class="btn btn-light bg-white" type="button">
            <fa name="search"></fa>
          </button>
        </span>
      </div>
    </div>

  </div>
</div>

<div class="content-divider container">
  <p>Popular Restaurants</p>
</div>

<div class="container card-columns">

  <div class="card" *ngFor="let restaurant of restaurants">

    <div *ngIf="restaurant.url1 === null; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <img class="card-img-top" src="../../../assets/restaurant_default.jpg">
    </ng-template>
    <ng-template #elseBlock>
      <img class="card-img-top" src="{{restaurant.url1}}">
    </ng-template>

    <div class="card-body">
      <div>
        <a class="float-left" [routerLink]="['/restaurant', restaurant.ownerId]">
          {{restaurant.name}}
        </a>
        <star-rating-comp class="float-right"
                          [showHalfStars]="true"
                          [readOnly]="true"
                          [size]="'medium'"
                          [starType]="'svg'" [rating]="restaurant.rating"></star-rating-comp>
      </div>

      <div *ngIf="restaurant" class="card-text card-subtitle">
        {{restaurant.summary}}
      </div>
    </div>

    <button [routerLink]="['/restaurant', restaurant.ownerId]"
            class="card-btn float-right btn btn-sm btn-outline-info"> View More</button>
  </div>

</div>
