<app-nav-home></app-nav-home>
<div class="header">

  <div class="intro-message container">
    <div class="intro-header">AND MAKE THE WORLD BETTER TOGETHER</div>

    <button class="btn btn-success">DONATE NOW</button>
    <button style="margin-left: 10px;" class="btn btn-warning">CONTACT US</button>
  </div>
</div>

<br>

<div class="container row">

  <br>

  <div class="container row">

    <div class="col-md-5 col-sm-12" style="height: 500px">

      <div style="margin-bottom: 30px;">
        <span style="font-size: 150%;"> Contributors </span>

        <div class="btn-group btn-group-sm float-right" data-toggle="buttons">
          <label (click)="changeUserDuration('day')" class="btn btn-outline-secondary active">
            <input type="radio" name="daily" id="daily-user">
            Today
          </label>
          <label (click)="changeUserDuration('week')" class="btn btn-outline-secondary">
            <input type="radio" name="weekly" id="weekly-user">
            Week
          </label>
          <label (click)="changeUserDuration('month')" class="btn btn-outline-secondary">
            <input type="radio" name="monthly" id="monthly-user">
            Month
          </label>
        </div>
      </div>


      <div *ngFor="let user of users; let i = index;" class="donor">

        <span class="rank-number">{{i+1}} &nbsp; </span>

        <a [routerLink]="['/profile', user.userId]">{{user.name}}</a>

        <div class="float-right dollar-amount">
          <fa name="dollar"></fa>{{user.donation}}
        </div>
      </div>

    </div>


    <div class="col-md-2"></div>


    <div class="col-md-5 col-sm-12" style="height: 500px;">

      <div style="margin-bottom: 20px;">
        <span style="font-size: 150%;"> Restaurants </span>

        <div class="btn-group btn-group-sm float-right" data-toggle="buttons">
          <label (click)="changeRestaurantDuration('day')" class="btn btn-outline-secondary active">
            <input type="radio" name="daily" id="daily-restaurant">
            Today
          </label>
          <label (click)="changeRestaurantDuration('week')" class="btn btn-outline-secondary">
            <input type="radio" name="weekly" id="weekly-restaurant">
            Week
          </label>
          <label (click)="changeRestaurantDuration('month')" class="btn btn-outline-secondary">
            <input type="radio" name="monthly" id="monthly-restaurant">
            Month
          </label>
        </div>
      </div>

      <div *ngFor="let restaurant of restaurants; let i = index;" class="donor">

        <span class="text-sm-left">{{i+1}} &nbsp; </span>

        <a [routerLink]="['/restaurant', restaurant.userId]">{{restaurant.name}}</a>

        <div class="float-right dollar-amount">
          <fa name="dollar"></fa>{{restaurant.donation}}
        </div>
      </div>

    </div>
  </div>


</div>

<br>
<br>
