<app-nav-home></app-nav-home>
<div class="groups-content">
  <div class="row">
    <div class="input-group col-md-6" style="padding-left: 0;">
      <input [(ngModel)]="keyword" type="text" class="form-control" placeholder="Search">
      <span (click)="searchGroup()" class="input-group-addon">&nbsp;<fa name="search"></fa>&nbsp;</span>
    </div>
  </div>

  <div class="row col-md-6" style="padding: 0;">
    <div *ngFor="let group of groups"
         class="card" style="margin: 15px 0; width: 100%;">
      <div class="row" style="padding: 10px;">
        <div class="col-md-2">
          <img *ngIf="group.url == ''" class="img-avatar" src="../../../assets/group-default.svg">
          <img *ngIf="group.url != ''" class="img-avatar" [src]="group.url">
        </div>
        <div class="col-md-10">
            <a style="font-size: 150%; color: #212121;" [routerLink]="['/group', group.ownerId]">{{group.name}}</a><br>
            <I class="text-muted" style="font-size: 80%;">{{group.summary}}</I>
            <div style="font-size: 90%; color: #4CAF50">
              <fa name="map-marker" class="fa"></fa>{{group.zipCode}}&nbsp;&nbsp;
              <fa name="user" class="fa"></fa>{{group.users + 1}}&nbsp;&nbsp;
              <fa name="dollar" class="fa"></fa>{{group.donation}}&nbsp;&nbsp;

              <span class="text-muted" *ngIf="group.password">
                <fa name="lock" class="fa"></fa>
                This is a private group
              </span>

            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <nav>
      <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item {{page == 1 ? 'disabled' : ''}}">
          <a (click)="jumpPage(-1)" class="page-link">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link">{{page}}</a>
        </li>
        <li class="page-item {{groups.length == 10? '' : 'disabled'}}">
          <a (click)="jumpPage(1)" class="page-link">{{page + 1}}</a>
        </li>
        <li class="page-item {{groups.length == 10? '' : 'disabled'}}">
          <a (click)="jumpPage(2)" class="page-link">{{page + 2}}</a>
        </li>
        <li class="page-item {{groups.length == 10? '' : 'disabled'}}">
          <a (click)="jumpPage(1)" class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
