<app-nav-home></app-nav-home>
<div class="header text-center">

  <span style="font-size: 400%; color: #616161;"><strong> HEFSEN </strong></span><br>
  <span style="font-size: 100%;">We convert discounts from restaurants to charitable funds</span>
</div>

<div style="padding: 0 70px;">
  <div class="row section">
    <div class="col-md-4">
      <img class="img-fluid intro-img" src="../../../assets/charity-world.jpg">
    </div>

    <div class="col-md-8 text-left" style="padding: 50px;">
      <br><br>
      <h2>About HEFSEN</h2>
      <p>
        "HEFSEN is "Healthcare by Exchange for Someone Else's Needs" founded by three friends and graduates of the University of Texas at Austin: Michael Atwood, Gregory Hsiao, and Mebin Mathew.
        Our website is currently in its testing phase and we are currently in the application process for nonprofit organizational status.
      </p>
    </div>
  </div>
  <br><br>

  <div class="row section">
    <div class="col-md-8 text-right" style="padding: 50px;">
      <br><br>
      <h2>Our Goal</h2>
      <p>
          The mission of HEFSEN is to help subsidize healthcare costs for those in need.
          Specifically, we will be funding for patients who have any kind of cancer, heart disease, or genetic disorder.
          We plan on raising funds for our mission through other businesses in exchange for advertisement.
      </p>
    </div>

    <div class="col-md-4">
      <img class="img-fluid intro-img" src="../../../assets/charity-shop.jpg">
    </div>
  </div>
    <br><br>


  <div class="row section">
    <div class="col-md-4">
      <img class="img-fluid intro-img" src="../../../assets/donating-online.jpg">
    </div>

    <div class="col-md-8 text-left" style="padding: 50px;">
      <br><br>
      <h2>Additional</h2>
      <p>
          In order to attract users to our site and by extension affiliated businesses of HEFSEN,
          users of hefsen.com will be able to accrue points whenever they purchase and send us receipts from businesses advertised by HEFSEN.
          These points users accrue will be able to be exchanged for items such as TVs, clothes, concert tickets, computers,
          or other things that HEFSEN's user base is most interested in.
          If you have any additional questions, please email us at hefsen@hefsen.com."
      </p>
    </div>
  </div>

</div>
