<app-nav-home></app-nav-home>
<div class="header text-center">

  <span style="font-size: 400%; color: #616161;"><strong> HUMBLE RESTAURANTS </strong></span><br>
  <span style="font-size: 100%;">We convert discounts from restaurants to charitable funds</span>
</div>

<div style="padding: 0 70px;">
<div class="row section">
  <div class="col-md-4">
    <img class="img-fluid intro-img" src="../../../assets/charity-world.jpg">
  </div>

  <div class="col-md-8 text-left" style="padding: 50px;">
    <br><br>
    <h2>Some Data Some Data</h2>
    <p>Some Data Some Data Some Data Some Data Some Data Some Data Some Data Some
      Data Some Data Some Data Some Data Some Data Some Data Some Data Some Data </p>
  </div>
</div>
  <br><br>


<div class="row section">
  <div class="col-md-8 text-right" style="padding: 50px;">
    <br><br>
    <h2>Some Data Some Data</h2>
    <p>Some Data Some Data Some Data Some Data Some Data Some Data Some Data Some
      Data Some Data Some Data Some Data Some Data Some Data Some Data Some Data </p>
  </div>

  <div class="col-md-4">
    <img class="img-fluid intro-img" src="../../../assets/charity-shop.jpg">
  </div>
</div>
  <br><br>


<div class="row section">
  <div class="col-md-4">
    <img class="img-fluid intro-img" src="../../../assets/donating-online.jpg">
  </div>

  <div class="col-md-8 text-left" style="padding: 50px;">
    <br><br>
    <h2>Some Data Some Data</h2>
    <p>Some Data Some Data Some Data Some Data Some Data Some Data Some Data Some
      Data Some Data Some Data Some Data Some Data Some Data Some Data Some Data </p>
  </div>
</div>
  <br><br>


<div class="row section">
  <div class="col-md-8 text-right" style="padding: 50px;">
    <br><br>
    <h2>Some Data Some Data</h2>
    <p>Some Data Some Data Some Data Some Data Some Data Some Data Some Data Some
      Data Some Data Some Data Some Data Some Data Some Data Some Data Some Data </p>
  </div>

  <div class="col-md-4">
    <img class="img-fluid intro-img" src="../../../assets/thank-you.jpg">
  </div>
</div>
</div>
